In [1]:
import requests
import urllib.parse

In [2]:
url = 'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.53559099999999%2C-73.619412&z=13'

In [6]:
from urllib.parse import urlsplit, parse_qs

url = 'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.53559099999999%2C-73.619412&z=13'
query = urlsplit(url).query
params = parse_qs(query)
params

{'mid': ['1qlSKPsGQbmsehtHsK-59DomxELh5gD4X'],
 'll': ['45.53559099999999,-73.619412'],
 'z': ['13']}

In [7]:
url = 'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.58662600000001%2C-73.597534&z=10'
query = urlsplit(url).query
params = parse_qs(query)
params

{'mid': ['1qlSKPsGQbmsehtHsK-59DomxELh5gD4X'],
 'll': ['45.58662600000001,-73.597534'],
 'z': ['10']}

In [8]:
url = 'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.53555000000003%2C-73.625195&z=10'
query = urlsplit(url).query
params = parse_qs(query)
params

{'mid': ['1qlSKPsGQbmsehtHsK-59DomxELh5gD4X'],
 'll': ['45.53555000000003,-73.625195'],
 'z': ['10']}

In [26]:
str(params['ll'][0]).split(",")
#params['ll'].split(",")
ll = list(str(params['ll'][0]).split(","))

In [31]:
ll[1]

'-73.625195'

In [54]:
def getll(url):
    
    query = urlsplit(url).query
    params = parse_qs(query)
    
    lng = list(str(params['ll'][0]).split(","))[0]
    lat = list(str(params['ll'][0]).split(","))[1]
    
    return {'lng': lng,'lat': lat}

In [55]:
getll('https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.53555000000003%2C-73.625195&z=10')

{'lng': '45.53555000000003', 'lat': '-73.625195'}

In [40]:
urls_mylene = ['https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.57087299999998%2C-73.63287300000002&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.58662600000001%2C-73.597534&z=13',
              'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.569048000000066%2C-73.63539700000001&z=13',
              'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.565422000000005%2C-73.60729399999998&z=13',
              'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.57765600000006%2C-73.609994&z=13',
              'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.574599000000006%2C-73.60965600000002&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.54374400000001%2C-73.613808&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.56322999999996%2C-73.62346800000002&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.563062000000016%2C-73.61742999999998&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.559727%2C-73.600007&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.563032%2C-73.629919&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.57387799999998%2C-73.621808&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.568360999999996%2C-73.63616400000001&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.567944000000026%2C-73.636894&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.56788399999999%2C-73.63646500000002&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.577594999999995%2C-73.610408&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.57050000000001%2C-73.614234&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.57808899999999%2C-73.613815&z=13',
               'https://www.google.com/maps/d/u/0/viewer?mid=1qlSKPsGQbmsehtHsK-59DomxELh5gD4X&ll=45.577462000000004%2C-73.60989&z=13'
              ]

In [76]:
lat_arr = []
for i in urls_mylene:
   
    lat_arr.append(getll(i)['lat'])

In [79]:
lng_arr = []
for i in urls_mylene:
   
    lng_arr.append(getll(i)['lng'])

In [80]:
lng_arr

['45.57087299999998',
 '45.58662600000001',
 '45.569048000000066',
 '45.565422000000005',
 '45.57765600000006',
 '45.574599000000006',
 '45.54374400000001',
 '45.56322999999996',
 '45.563062000000016',
 '45.559727',
 '45.563032',
 '45.57387799999998',
 '45.568360999999996',
 '45.567944000000026',
 '45.56788399999999',
 '45.577594999999995',
 '45.57050000000001',
 '45.57808899999999',
 '45.577462000000004']

In [57]:
test = getll(urls_mylene[0])['lng']

In [98]:
data = {'latitude':lng_arr, 'longitude':lat_arr }

In [99]:
import pandas as pd
df = pd.DataFrame(data)

In [100]:
df

              latitude           longitude
0    45.57087299999998  -73.63287300000002
1    45.58662600000001          -73.597534
2   45.569048000000066  -73.63539700000001
3   45.565422000000005  -73.60729399999998
4    45.57765600000006          -73.609994
5   45.574599000000006  -73.60965600000002
6    45.54374400000001          -73.613808
7    45.56322999999996  -73.62346800000002
8   45.563062000000016  -73.61742999999998
9            45.559727          -73.600007
10           45.563032          -73.629919
11   45.57387799999998          -73.621808
12  45.568360999999996  -73.63616400000001
13  45.567944000000026          -73.636894
14   45.56788399999999  -73.63646500000002
15  45.577594999999995          -73.610408
16   45.57050000000001          -73.614234
17   45.57808899999999          -73.613815
18  45.577462000000004           -73.60989

In [93]:
df

Empty DataFrame
Columns: []
Index: []

In [101]:
df.to_csv('noslignesdedesirs_mylene.tsv', sep = '\t')

In [90]:
import numpy as np

In [91]:
data = {'l'}

ValueError: Shape of passed values is (2, 19), indices imply (2, 2)